<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        https://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 配置SpringMVC -->
    <!-- 1.开启SpringMVC注解驱动 -->
    <mvc:annotation-driven />
    <!-- 2.静态资源默认servlet配置-->
    <mvc:default-servlet-handler/>

    <!-- 3.配置jsp 显示ViewResolver视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
        <property name="prefix" value="/WEB-INF/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <!-- 4.扫描web相关的bean -->
    <context:component-scan base-package="com.lv.controller" />


    <!--拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <!-- /** 表示所有的url，包括子url路径 -->
            <mvc:mapping path="/**" />
            <!-- 除了以下的不拦截  -->
            <mvc:exclude-mapping path="/login.html" />
            <mvc:exclude-mapping path="/user/dologin.html" />
            <mvc:exclude-mapping path="/statics/**" />
            <bean class="com.lv.utils.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--解决ResponseBody中文乱码-->
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes" value = "text/html;charset=UTF-8" />
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

<!--    &lt;!&ndash; json乱码配置 &ndash;&gt;-->
<!--    <mvc:annotation-driven>-->
<!--        <mvc:message-converters>-->
<!--            &lt;!&ndash; 配置消息转换器用于解决json格式乱码问题 &ndash;&gt;-->
<!--            <bean class="org.springframework.http.converter.StringHttpMessageConverter">-->
<!--                <property name="supportedMediaTypes">-->
<!--                    <list>-->
<!--                        <value>application/json;charset=UTF-8</value>-->
<!--                    </list>-->
<!--                </property>-->
<!--            </bean>-->
<!--        </mvc:message-converters>-->
<!--    </mvc:annotation-driven>-->

<!--    &lt;!&ndash;文件上传配置&ndash;&gt;-->
<!--    <bean id="multipartResolver"  class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
<!--        &lt;!&ndash; 请求的编码格式，必须和jSP的pageEncoding属性一致，以便正确读取表单的内容，默认为ISO-8859-1 &ndash;&gt;-->
<!--        <property name="defaultEncoding" value="utf-8"/>-->
<!--        &lt;!&ndash; 上传文件大小上限，单位为字节（10485760=10M） &ndash;&gt;-->
<!--        <property name="maxUploadSize" value="10485760"/>-->
<!--        <property name="maxInMemorySize" value="40960"/>-->
<!--    </bean>-->



</beans>