<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lv.mapper.UserMapper">

    <!--登录-->
    <select id="getLoginUser" resultType="com.lv.pojo.User" parameterType="string">
        select *
        from smbms.smbms_user
        where userCode = #{userCode};
    </select>

    <!--修改密码-->
    <update id="updatePwd">
        update smbms.smbms_user
        set smbms_user.userPassword=#{userPassword}
        where id = #{id};
    </update>
</mapper>